.input[type=file] {
    width:50%;
}

/*
stil pentru Autosuggest.js
 */
.react-autosuggest__container {
    position: relative;
}

.react-autosuggest__input {
    width: 90%;
    height: 20%;
    padding: 10px 20px;
    font-family: "UT Sans", sans-serif !important;
    font-weight: 300;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 4px;
    /*background-color: #FFF6F6 !important;*/
}

.react-autosuggest__input--focused {
    outline: none;
}

.react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
    display: none;
}

.react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    top: 51px;
    width: 280px;
    border: 1px solid #aaa;
    background-color: #fff;
    font-family: "UT Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 2;
}

.react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
}

.react-autosuggest__section-container {
    border-top: 1px dashed #ccc;
}

.react-autosuggest__section-container--first {
    border-top: 0;
}

.react-autosuggest__section-title {
    padding: 10px 0 0 10px;
    font-size: 12px;
    color: #777;
}

/*
stil pentru labelurile campurilor din formular
*/
.labelStyleForm {
    display: block;
    margin: 0 0 .28571429rem 0;
    color: rgba(0,0,0,.87);
    font-size: .92857143em;
    font-weight: 700;
    text-transform: none;
    font-family: "UT Sans", sans-serif !important;
}

.labelStyleFormGroup {
    display: block;
    margin: 0 0 .28571429rem 0;
    color: rgba(0,0,0,.87);
    font-size: .92857143em;
    font-weight: 700;
    text-transform: none;
    font-family: "UT Sans", sans-serif !important;
    padding-left: 3% !important;
}

.labelStyleFieldObservatii {
    display: block;
    margin: 0 0 .28571429rem 0;
    color: rgba(0,0,0,.87);
    font-size: .92857143em;
    font-weight: 700;
    text-transform: none;
    font-family: "UT Sans", sans-serif !important;
    padding-left: 1% !important;
}

.btnDepuneDinNou {
    text-align: center !important;
    padding: 5% 30% !important;
}

.styleAlignLabelForm {
    padding-right: 1% !important;
    padding-left: 0.5% !important;
    width: 20% !important;
}

.latimeInput {
    width: 60% !important;
}

.errorField {
    background-color: #ffdddd;
}