
/*
stil pentru afisarea componentului MessageComponent
 */
.messageInfoStyle {
    padding-left: 27% !important;
    padding-right: 27% !important;
    padding-top: 1% !important;
    text-align: center !important
}

