
/*
stilul care face tabelul scrollable orizontal
 */
.tableScroll {
    display: block;
    width: 95% !important;
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;
    white-space: nowrap;
}

/*
stil pentru afisarea campurilor din tabele
 */
.textDepasesteDimensiune {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    max-width: 200px !important;
}

.depasitTermenLimita {
    background-color: #ffdede !important;
}

.borderLabel {
    border: 1px solid #808080 !important;
}

.inTermenLimita {
    background-color: #ffffe4 !important;
}

.finalizat {
    background-color: #deffde !important;
}
